<app-header></app-header>
<app-hero [type]="'CONTACT'"></app-hero>
<section class="features">
  <div class="feature__content container container--pall">
    <div class="feature__intro">
      <h2>Liên hệ với Tiệm Nhà Bom khi bạn cần.</h2>
      <p>
        Chúng tôi luôn hỗ trợ bạn 24/24
      </p>
    </div>

    <div class="feature__grid">
      <div class="feature__item">
        <div class="feature__icon">
          <i class="fa fa-phone-square contact" aria-hidden="true"></i>
        </div>
        <div class="feature__title">0387333535</div>
      </div>

      <div class="feature__item">
        <div class="feature__icon">
          <i class="fa fa-envelope contact" aria-hidden="true"></i>
        </div>
        <div class="feature__title">dathust165955@gmail.com</div>
      </div>

      <div class="feature__item">
        <div class="feature__icon">
          <i class="fa fa-map-marker contact" aria-hidden="true"></i>
        </div>
        <div class="feature__title">Thành công-Ba Đình-Hà Nội</div>
      </div>

      <div class="feature__item">
        <div class="feature__icon">
          <i class="fa fa-globe contact" aria-hidden="true"></i>
        </div>
        <div class="feature__title">https://tiemnhabom.com</div>
      </div>
    </div>
  </div>

</section>
<app-footer></app-footer>
