@import "src/variables";
@import "src/mixins";
.articles {
  background-color: $veryLightGray;
}

.title{
  display: flex;
  flex-direction: row;
  position: sticky;
  color: #000;
  top: 0;
  background: #fafafa;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  @include breakpoint-up(medium){
    z-index: 20000;
  }
  .desktop{
    display: none;
    @include breakpoint-up(medium){
      display: block;
      height: 50px;
    }
  }
  @include breakpoint-up(medium){
    &__name{
      width: 20%;
    }
    .desktop{
      width: 80%;
    }
  }
  .ct{
    cursor: pointer;
    padding: 5px 10px;
    background: rgba(0,0,0,0.01);
    border: 1px solid rgba(0,0,0,0.1);
    margin-right: 15px;
    font-size: 14px;
    color: #000;
    border-radius: 15px;

  }
  .ct__a{
    cursor: pointer;
    padding: 5px 10px;
    background: rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.1);
    margin-right: 15px;
    font-size: 14px;
    color: white;
    border-radius: 15px;

  }
}
.article {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.35rem;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(3, 1fr);
      gap: 0.55rem;
    }

    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
      gap: 1.35rem;
    }
  }

  &__item {
    cursor: pointer;
    border-radius: 0.3125rem;
    overflow: hidden;
    background-color: $white;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
    transition: all 150ms ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__image {
    height: 12.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__text {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    color: $grayishBlue;

    @include breakpoint-up(medium) {
      padding: 1.875rem 1.5625rem;
    }
  }

  &__author {
    font-size: 0.625rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    display: -webkit-box;
    font-size: 14px;
    margin-bottom: 0.5rem;
    color: rgba(0,0,0,0.68);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__description {
    font-size: 1rem;
    .old_price{
      font-weight: 400;
      margin-right: 5px;
      text-decoration-line: line-through;
    }
    .new_price{
      font-weight: 700;
      color: #EE4D2D;
    }
  }
}
:host::ng-deep{
  .p-scrollpanel .p-scrollpanel-bar{
    display: none!important;
  }
  .p-sidebar-bottom{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    min-height: 260px;
  }
  .p-sidebar .p-sidebar-header .p-sidebar-close, .p-sidebar .p-sidebar-header .p-sidebar-icon{
    background: $limeGreen;
  }
  .p-sidebar .p-sidebar-content{
    position: absolute;
    width: 90% !important;

  }
  .p-sidebar .p-sidebar-header{
    border-bottom: 0.2px solid rgba(0,0,0,0.2) !important;
  }
}
.text-header-bar{
  display: flex;
  flex-direction: column;
  width: 100% !important;
  .text-sort{
    width: 95%;
    height: 50px;
    padding: 20px;
    font-size: 16px;
    margin-left: 10px;
    border-bottom: 0.01px solid rgba(0,0,0,0.02);
  }
  .text-sort:first-child{
    height: 60px;
    border-bottom: none;
    color: #000;
    width: 60%;
    font-weight: 700;
  }
}
.mobile{
  @include breakpoint-up(medium){
    display: none!important;
  }
}
@media only screen and (max-width: 370px) {
  .article__description{
    display: flex;
    flex-direction: column;
  }
}
//.custom-pagination .paginator-nav-btns {
//  margin: 0px 10px;
//  font-weight: bold;
//}
//
//.custom-pagination > div.current {
//  background-color: #00008B;
//}
//
//.custom-pagination > div {
//  border: 2px solid #00008B;
//  margin-right: 3px;
//  border-radius: 50%;
//  height: 30px;
//  cursor: pointer;
//  flex: 1;
//  font-size: 18px;
//  text-align: center;
//  -moz-user-select: none;
//  -webkit-user-select: none;
//  -ms-user-select: none;
//}
//
//.custom-pagination {
//  display: flex;
//  max-width: 180px;
//  margin: auto;
//  padding: 10px;
//}
