@import "src/variables";
@import "src/mixins";
.header{
  display: none;
  @include breakpoint-up(large){
    display: block;
    margin-bottom: 20px;
  }
}
.pro{
  @include breakpoint-up(large){
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);;
  }
  &__image{
    @include breakpoint-up(large){
      width: 50%;
      float: right;
      min-height: 30rem;
      padding: 10px;
    }
  }
  &__text{
    text-align: center;
    @include breakpoint-up(large){
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      min-height: 30rem;
    }
    .new_price{
      color: #EE4D2D;
      font-size: 24px;
      font-weight: 700;
    }
    .old_price{
      text-decoration: line-through;
      margin-right: 10px;
    }
  }

}
.img-div{
  min-height: 17.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @include breakpoint-up(medium){
    min-height: 25rem;
    background-position: center 70%;
  }
}
.count{
  display: flex;
  justify-content: space-between;
  @include breakpoint-up(medium){
    justify-content: flex-start;
  }
}
.add{
  padding: 0.875rem 0.5rem;
  width: 53%;
  text-align: center;
  border-radius: 20px;
}
.viewAd{
  padding: 0.875rem 0.5rem;
  width: 46%;
  border-radius: 20px;
  text-align: center;
}
:host ::ng-deep{
  .owl-nav{
    display: none!important;
  }
  .owl-theme .owl-dots .owl-dot.active span{
    background: #EE4D2D!important;
  }
  .owl-theme .owl-dots{
    position: absolute;
    bottom: -5px;
    left: 45%;
  }
  .p-tabview .p-tabview-nav li{
    width: 50%;
  }
  .p-tabview .p-tabview-panels{
    padding: 1rem 0!important;
  }
  .item-i{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 5px;
  }
  .item-i:nth-child(odd){
    background: rgba(0,0,0,0.08);
  }
  .item-i:nth-child(even){
    background: rgba(0,0,0,0.04);
  }

  .p-tabview .p-tabview-nav li .p-tabview-nav-link{
    padding: 1rem 0!important;
  }
  .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus{
    box-shadow: none;
    background-color: white;
  }
  .p-tabview .p-tabview-nav li .p-tabview-nav-link{
    justify-content: center;
  }

}
.pro-info{
  display: flex;
  flex-direction: column;
  @include breakpoint-up(large){
    display: flex;
    flex-direction: row;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  }
}
.product-relation{
  min-height: 150px;
  @include breakpoint-up(large){
    width: 30%;
    margin-left: 20px;
    padding: 15px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  }
  .list-product-relation{
    //padding: 16px;
    .header-relation{
      display: flex;
      font-size: 16px;
      justify-content: space-between;
      line-height: 24px;
      margin-bottom: 16px;
      .header-title{
        align-items: center;
        font-weight: 700;
        line-height: 24px;
        display: flex;
      }
    }
    .list-item-pr{
      .seminal-product-panel{
        padding: 8px 0;
        .data-product{
          display: flex;
          align-items: center;
          position: relative;
          .loading-product{
            align-items: center;
            background: hsla(0,0%,100%,.7);
            bottom: 0;
            color: #98a5b9;
            display: flex;
            font-size: 24px;
            justify-content: center;
            left: 0;
            line-height: 36px;
            opacity: 0;
            right: 0;
            top: 0;
            transition: .3s;
            z-index: 3;
          }
          .product-header{
            .image-pr{
              flex: 0 0 80px;
              margin-right: 8px;
              width: 80px;
              .link-pr-detail{
                align-items: center;
                display: flex;
                height: 80px;
                justify-content: center;
                cursor: pointer;
              }
            }
          }
          .product-body{
            position: relative;
            .pr-info{
              flex: 1 1;
              .link-pr{
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 13px;
                line-height: 19px;
                color: #000;
              }
              .p-price{
                color: #2e2e2e;
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                margin-bottom: 4px;
              }
            }
          }
        }
      }
    }
  }
}
.totalItem{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EE4D2D;
  right: -7px;
  top: -5px;
  position: absolute;
}
.card{
  @include breakpoint-up(large){
    width: 70%;
  }
}

.card-l{
  display: flex;
  height: 40px;
  margin-right: 8px;
  margin-top: 10px;
  .count-pd{
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
  }
  .in{
    background: 0 0;
    border: 0;
    outline: none;
    height: 40px;
    margin: 0 4px;
    font-size: 16px;
    width: 40px;
    text-align: center;
    border-bottom: 1px solid #ccd2dc;
  }
  .down-btn{
    background: $grayishBlue;
    color: #ccd2dc;
    cursor: pointer;
    align-items: center;
    border: 0;
    display: flex;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 22px;
    transition: .3s;
    justify-content: center;

  }
  .deactive{
    background: rgba(234,237,241,.7);
    color: #ccd2dc;
    cursor: pointer;
    align-items: center;
    border: 0;
    display: flex;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 22px;
    transition: .3s;
    justify-content: center;
  }

}
.header-product-info{
  @include breakpoint-up(large){
    display: none;
  }
  position: absolute;
  width: 100%;
  height: 50px;
  top: 5px;
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .returnBtn{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .searchBtn{
    width: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .fa{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccd2dc;
    color: black;
  }


}

.loader {
  font-size: 7px;
  color: $limeGreen;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
.spinner{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  background: #fff;
}
